.apartment__header h1 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.apartment__header h2 {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.2em;
    font-size: 20px;
}

.apartment__header h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    align-items: flex-end;
    justify-content: center;
    font-weight: 400;
}

.apartment__header .apartment__tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;
}

.apartment__header .apartment__tags span {
    background-color: #ff6060;
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.7rem;
    text-align: center;
}

.apartment__header {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.apartment__header .apartment__title {
    flex-grow: 1;
}

.apartment__owner {
    display: flex;
    flex-direction: column;
}

.apartment__owner__badge img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.119);
}

.apartment__owner__details {
    display: flex;
    gap: 0.5rem;
}

.apartment__owner__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.119);
}

.apartment__owner__stars .on {
    color: #ff6060;
}

/* .apartment__owner__stars .off {
    color: rgba(0, 0, 0, 0.119);
} */

@media screen and (width <= 768px) {
    .apartment__header {
        flex-direction: column;
    }
    .apartment__owner {
        flex-direction: row;
        justify-content: space-between;
    }
    .apartment__owner__details {
        order: 1;
    }
}